<% provide(:title, @workshop.name) %>

<div class="jumbotron">
	<section class="user_info">
			<h1>Workshop Details:</h1>
				<h2>
					<b>Workshop:</b>
						<%= @workshop.name %>
					<br><br>
					<b>Email:</b> 
						<%= @workshop.email %>
					<br><br>
					<b>Contact Number:</b>
						<%= @workshop.contact %>
					<br><br>
					<b>Address:</b>
						<%= @workshop.address %>
				<h2>

				<%= link_to "Edit Profile", "#", class: "btn btn-lg btn-primary" %>
	</section>
</div>